#options {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 10px solid black;
    border-radius: 5px;
    padding: 10px;
   
}


#itemFormWrapper {
    display: flex;
    
}

#itemForm {
    display: flex;
    flex-direction: column;
}


