{% extends 'base.html' %}
{% block content %}
    <div id="options">
        <form method="post">
            <form method="post">
            <input type="text" name="csvFile" placeholder="Enter CSV name">
            <input type="hidden" name="button" value="Upload to Database">
            <button type="submit">Upload to Database</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get DB Info">
            <button type="submit">Get DB Info</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Create Ebay Inventory Location">
            <button type="submit">Create Ebay Inventory Location</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get Ebay Inventory Location">
            <button type="submit">Get Ebay Inventory Location</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Delete Ebay Inventory Location">
            <button type="submit">Delete Ebay Inventory Location</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get Fulfillment Policy ID">
            <button type="submit">Get Fulfillment Policy ID</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get Payment Policy ID">
            <button type="submit">Get Payment Policy ID</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get Return Policy ID">
            <button type="submit">Get Return Policy ID</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get User Info">
            <button type="submit">Get User Info</button>
        </form>
    
        <form method="post">
            <input type="hidden" name="button" value="Get Category Aspects">
            <button type="submit">Get Category Aspects</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get Inventory Record">
            <button type="submit">Get Inventory Record</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Create Inventory Record">
            <button type="submit">Create Inventory Record</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Create Offer">
            <button type="submit">Create Offer</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Publish Offer">
            <button type="submit">Publish Offer</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Delete Offer">
            <button type="submit">Delete Offer</button>
        </form>
    </div>   
    <div id="results">
        {% if caller %}
            {{ caller }}
        {% elif form_data %}
            {% for key in form_data %}
                {{ form_data[key] }}   
            {% endfor %}
        {% elif msg %}
            {{ msg }}
        {% endif %}
    </div>
{% endblock %}
