{% extends 'base.html' %}
{% block content %}
    <div id="options">
        <form method="post">
            <input type="hidden" name="button" value="Create Ebay Inventory Location">
            <button type="submit">Create Ebay Inventory Location</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get Ebay Inventory Location">
            <button type="submit">Get Ebay Inventory Location</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get User Info">
            <button type="submit">Get User Info</button>
        </form>
    </div>   
    <div id="results">
        {% if caller %}
            {{ caller }}
        {% elif title %}
            {{ title }}   
        {% elif msg %}
            {{ msg }}
        {% endif %}
    </div>
    <div id="itemFormWrapper">
        <form method="post" id="itemForm">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <button type="submit" name="upload">Upload Item</button>
        </form>
    </div>
{% endblock %}
