{% extends 'base.html' %}
{% block content %}
    <span>
        <form method="post">
            <input type="hidden" name="button" value="Start Auth Flow">
            <button type="submit">Start Auth Flow</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="User Sign In">
            <button type="submit">User Sign In</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get User Token">
            <button type="submit">Get User Token</button>
        </form>
        <form method="post">
            <input type="hidden" name="button" value="Get User Info">
            <button type="submit">Get User Info</button>
        </form>
        {% if caller %}
            <p>{{ caller }}</p>
        {% elif auth_response %}
            <P>{{ auth_response }}</P>
        {% elif caller %}
            <p>{{ auth_response }}</p>
            <p>{{ caller }}</p>
        {% else %}
            <p>There is no information available. You suck. </p>
        {% endif %}
    </div>
{% endblock %}
